html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Gothic A1", sans-serif;
  text-align: center;
}

.container {
}

.container a,
.container img {
  display: inline-block;
}

a {
  display: block;
}

img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 100%;
  vertical-align: top;
}

.argus {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  max-width: 960px;
  width: 100%;
}

.argus__video {
  margin-bottom: 30px;
}

.argus__image {
  margin-bottom: 30px;
}

.endorsement {
  align-items: center;
  background: #eee;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 60px;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

.endorsement__image {
  display: inline-block;
  margin: -30px 0;
}

.endorsement__audio {
  display: inline-block;
}

.endorsement__content {
  flex: 1;
  text-align: center;
}

.art {
  margin-bottom: 45px;
}

.art__figure {
  /* */
}

.art__image {
  margin-bottom: 8px;
}

.art__caption {
}

.art__title {
  font-family: "Charm";
  font-size: 24px;
  font-style: normal;
}

.art__title::before {
  content: "“";
}

.art__title::after {
  content: "”";
}

.art__author {
  font-size: 12px;
  font-style: normal;
}

/*

.art__frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 15px;
  padding: 30px;
  position: relative;
  text-align: center;
}

.art__frame::before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}

.art__frame::after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}

*/
