body {
  text-align: center;
}

.container {

}

.container a,
.container img {
  display: inline-block;
}

a {
  display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
